@{
    Layout = "~/Views/Home/Home_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Social Network</title>
</head>
<body>
    <div>
        Увійдіть або зареєструйтесь.
    </div>
</body>
</html>